<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-fav 
(childdata)="message=$event"
[parentData]="firstName">
</app-fav>

<div>
  <ul>
    {{message}}
  </ul>
</div>

<br> -->

<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your {{ coursename }} is running. 🎉</p>
      <p>Did you know that (3 + 3) equal to {{ 3 + 3}} 🎉</p>
      <p>the coursename length is {{coursename.length}}</p>
      <br>
      interpolation <input type="text" value={{firstName}} id="textbox1" disabled={{flag}}/>
      <br>
      property binding <input type="text" [value]='lastName' id="textbox2" [disabled]='flag'/>
      <br>
      <div [class]="myclass">Hello everyone</div>
      <br>
      <h2 [style.color]="greenColor">hello from style binding</h2>
      <br>
      <div [style.font-size.px]="30">hello from style binding</div>
      <br>
      <div [style.color]="flag?'green' : 'red'">hello hello</div>
      <br>
      <p>Event Binding
        <button (click)="show()">Press the button</button>
      </p>

      <table>
        <tr>
          <th>Name</th>
          <th>coursename</th>
          <th>email</th>
        </tr>
        <tr *ngIf="hide">
          <td>{{firstName+' '+lastName}}</td>
          <td>{{coursename}}</td>
          <td>{{email}}</td>
        </tr>
      </table>

      <button (click)="showDetails()">show details</button>
      <br>
      First Name <input [(ngModel)]="firstName" type="text" required>
      <p>First Name  Value : {{firstName}}</p>
      <br>
      Last Name <input [(ngModel)]="lastName" type="text" required>
      <p>Last Name  Value : {{lastName}}</p>

      <br>

      <div>
        <ul>
          <h2>How to Declare a Variable in Template, for Later Reuse</h2>
          <p>and it's basically to pass a variable from HTML to TypeScript function without using e.target.value</p>
        </ul>
      
        <input #myinput type="text" (keyup.enter)="onClick(myinput)" placeholder="Put a value" />
        Also, we can use a button to pass this value to it
        <button (click)="onClick(myinput)" class="btn">Click on it</button>
      </div>
    </div> 
  </div>
</main> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Welcome to my channel</h1>
<h1>Welcome to {{title | uppercase}}</h1>
<h1>Welcome to {{title | lowercase}}</h1>
<h1>Welcome to {{title | titlecase}}</h1>
<h1>Welcome to {{title | slice:2:5}}</h1>

<h1>
  <h2>{{50.559 | number:'1.2-3'}}</h2>
  <h2>{{50.559 | number:'2.1-2'}}</h2>
  <h2>{{50.559 | number:'3.0-1'}}</h2>
  <h2>{{50.559 | currency:'RM'}}</h2>
  <h2>{{50.559 | percent}}</h2>
  <h2>{{date | date:'shortDate'}}</h2>
</h1>

<h2>ngIf Example</h2>
<div *ngIf="flag"> Coursename is {{coursename}}</div>

<button (click)="showNgIf()">{{flag ? 'hide' : 'show' }} {{coursename}}</button>

<br>

<h2>ngSwitch Example</h2>

<h3>list of person according the country</h3>
<div *ngIf="flagFor">
  <div *ngFor="let item of persons">
    <ul [ngSwitch]=item.country>
      <li *ngSwitchCase="'France'" class="FR">
        {{item.name}} {{item.age}}
      </li>
      <li *ngSwitchCase="'Egypt'" class="EGY">
        {{item.name}} {{item.age}}
      </li>
      <li *ngSwitchCase="'Canada'" class="CA">
        {{item.name}} {{item.age}}
      </li>
      <li *ngSwitchDefault>
        {{item.name}} {{item.age}}
      </li>
    </ul>
  </div>
</div>


<button (click)="showNgIfFor()">{{flagFor ? 'hide' : 'show' }} list</button>

<br>

<app-employee></app-employee>


<router-outlet />
